/*  your css code here. If applicable */
table {
    border: 1px solid black;
    border-spacing: 1px;
    width: 70%;
}

td {
    border: 1px solid black;
    padding: 1px;
    height: 18px;
}

.middle {
    margin: auto;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#table-3 img {
    display: block;
    margin: auto;
}